body {
    font-family: 'Special Elite', cursive;
    background-color:black;
    color: azure;
    text-align: center;
}
p{
    font-family: 'Vesper Libre', serif;
    display: inline-block;
}

h1{
    display: inline-block;
}
h1:hover{
    display: inline-block;
    font-size: 2em;
}
.top {
    padding: 100px;
    position: relative;
}
.top-left{
    position:absolute;
    top: 50px;
    left: 10%;
    height: 10%;
}
.rotate:hover{
    height: 13%px;
    transition-duration: 0.8s ;
    transform:rotate(-10deg);
}
.android-top {
    position: absolute;
    top: 50px;
    right: 10%;
    height: 200px;

}
.profile{
    padding: 3%;
}
.skills-image{
    height: 200px;
    padding: 25px;
}
hr
{
    border-style: inset;
    border: none;
    border-top: 6px dotted #bdc5c7;
    width:8%;  
}
.apple-bottom {
    position: absolute;
    bottom: 15%;
    right: 5%;
    height: 30%;
}
.mic-bottom {
    position: absolute;
    bottom: 20%;
    left: 5%;
    height: 10%;

}
.mac{
    height: 300px;
}
.bottom-container{
    background-color: #323131c2;
    
}
.footer-link{
    line-height: 100px;
    margin: 0 20px 0 20px;
    color:antiquewhite;
}
.footer-link:hover{
    line-height: 100px;
    font-size: 1.3rem;
    margin: 0 20px 0 20px;
    color:antiquewhite;
}